aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
blessed==1.17.11
certifi==2019.11.28
chardet==3.0.4
dashing==0.1.0
dbus-python==1.2.16
discord.py==1.6.0
distro==1.4.0
idna==2.8
multidict==5.1.0
PyGObject==3.36.0
requests==2.22.0
six==1.15.0
ssh-import-id==5.10
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
yarl==1.6.3
Jinja2==2.11.2
MarkupSafe==1.1.1
